<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    <% if item_end.discount %>
      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <% end %>
    <!-- Product image-->
    <div>
      <div>
        <%= image_tag item_end.images[0], class: "card-img-top", alt:"..." if item_end.images.attached? %>
      </div>
    </div>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= link_to item_end.name, item_end %></h5>
        <!-- Product reviews-->
        <%# TODO: スターの条件分岐 %>
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>
        <!-- Product price-->
        <% if item_end.discount %>
          <span class="text-muted text-decoration-line-through"><%= item_end.price %></span>
          <%= item_end.discount %>
        <% else %>
          <%= item_end.price %>
        <% end %>
      </div>
    </div>
    <%# TODO: View optionsの条件分岐 %>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><%= link_to 'Add to cart', carts_add_path(item), class: "btn btn-outline-dark mt-auto" %></div>
    </div>
  </div>
</div>
