<!DOCTYPE html>
<html>
  <head>
    <title>Myapp_EC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag("favicon.ico") %>
  </head>
  <body>
    <%# containerで左右の余白を挿入 %>
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
